body{
    margin: 0;
    padding: 0;
    font-family: 'Actor', sans-serif;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #f6f6f6;
}

main{
    padding: 1em;
}

h1{
    color: slateblue;
}

p{
    margin-bottom: 30px;
}

footer{
    align-self: flex-end;
    background: #000011;
    width: 100%;
    padding: 1em;
    color: #fff;
    text-align: center;    
}